	<table class="table table-striped" style="margin-top: 20px;">
		<thead style="background-color: #009240;">
			<th><b><h4 style="margin: 0px; color: #e7ebac;">Date</h4></b></th>
			<th><b><h4 style="margin: 0px; color: #e7ebac;">Remarks</h4></b></th>
		</thead>
		{% for data in student_behavior %}
		<tr>
			<td>{{ data.date | date:"D, N d, Y" }}</td>
			<td>{{ data.remarks }}</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="5">
				<div class="alert" style="margin: 0px; padding: 0px;">
					<b>No Remarks yet.</b>
				</div>
			</td>
		</tr>
		{% endfor %}
	</table>
			