{% extends 'student/base.html' %}

{% block content %}

	<div id="loginTemplate">
		<div class="panel panel-default" align="center" id="panel-def">
			<div class="well well-sm"><span class="glyphicon glyphicon-user"></span> STUDENT LOGIN</div>
				<form action="/student/" method="POST">
				{% csrf_token %}
					{% if msg %}
						<div class="alert alert-danger" style="border-radius: 0px; margin-top: 40px; margin-bottom: 0px; width: 80%;">
							<b>{{ msg }}</b>
						</div>
					{% endif %}
					<div class="form-group">
					  	<label for="usr">Username</label>
					  	{{ login_form.username }}
				  	</div>
				  	<div class="form-group">
					    <label for="pwd">Password</label>
					    {{ login_form.password }}
				  	</div>
				  	<div class="terform-group" >
						<button class="btn btn-default" id="butn"><strong style="color: white;">LOGIN</strong></button>
					</div>
				</form>
		</div>
	</div>

{% endblock content %}
