<div class="col-md-12" id="contactInfo">
  <br>
  <br>
  <p>
    <h4>EMAIL</h4>
    philippineintegratedschool@gmail.com&nbsp;
    <a href="http://mail.google.com" target="_blank" class="btn btn-link btn-sm">
      <i class="fa fa-google-plus-square fa-2x"></i>&nbsp;Gmail
    </a>
  </p>
  <hr>
  <p>
    <h4>PHONE</h4>
    09125345789
  </p>
  <hr>
  <p>
    <h4>MAILING ADDRESS</h4>
    Philippine Integrated School<br>
    Bangon, Marawi City,<br>
    Lanao del Sur, Philippines
  </p>
  <hr>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.976552631554!2d124.28034241432172!3d8.001354706439523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x32559174eb6806cd%3A0x8b60515f1a98d91e!2sPhilippine+Integrated+School+Foundation%2C+Inc.!5e0!3m2!1sen!2sph!4v1461243171908" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
