<div class="col-md-12" id="contactInfo">
  <br>
  <br>
  <p>
    <h4>EMAIL</h4>
    philippineintegratedschool@gmail.com&nbsp;
    <a href="http://mail.google.com" target="_blank" class="btn btn-link btn-sm">
      <i class="fa fa-google-plus-square fa-2x"></i>&nbsp;Gmail
    </a>
  </p>
  <hr>
  <p>
    <h4>PHONE</h4>
    09125345789
  </p>
  <hr>
  <p>
    <h4>MAILING ADDRESS</h4>
    Philippine Integrated School<br>
    Bangon, Marawi City,<br>
    Lanao del Sur, Philippines
  </p>
  <hr>
</div>
