{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">
<div class="page-header" align="center" style="margin: 0px 15px 15px 15px; margin-top: 0px;">
	<h1  style="font-family: Eras Bold ITC" > <b> SCHOOL ADMINISTRATIVE OFFICIALS  </b> </h1>
	<h3><b>School Year: 2014-2015</b></h3>	
</div>

<div align="center">
	<div class="col-md-12" >
		<div class="col-md-12" style="margin-bottom: 20px" >
			
			<div class="col-md-12">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Ali M. Macarambon</b></h4>
					<h5>System President</h5>
			</div>
			
		</div>

		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Acmad Maguindanao</b></h4>
					<h5>Administrative Office</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Jabber A. Peti-ilan</b></h4>
					<h5>Personnel</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Khairoden B. Gote</b></h4>
					<h5>Arabic Head</h5>
			</div>
		</div>

		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Jenniffer L. Esterado</b></h4>
					<h5>Registrar</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Maryam Jamela A. Macarambon, CPA</b></h4>
					<h5>Finance Officer</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Aquisah D. Lucman</b></h4>
					<h5>Pre-School Coordinator</h5>
			</div>
		</div>	

		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-6">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Johayna D. Ibrahim</b></h4>
					<h5>Elementary Coordinator</h5>
			</div>
			
			<div class="col-md-6">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Janisah M. Aguam</b></h4>
					<h5>High School Coordinator</h5>
			</div>
		</div>	
	</div>
</div>

<div class="page-header" align="center" style="margin: 25px 15px 15px 15px; margin-top: 0px;">
	<h1  style="font-family: Eras Bold ITC" > <b> CONSULTANTS </b> </h1>

</div>

<div align="center">


		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-6">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Dr. Naino Bae Disomangcop</b></h4>
					<h5>Academic Consultant</h5>
			</div>
			
			<div class="col-md-6">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Atty. Khaliquzzaman Macabato, CPA</b></h4>
					<h5>Finance Consultant/Internal Auditor</h5>
			</div>
		</div>	
	</div>
</div>

</div>
{% endblock content %}