{% extends 'base.html' %}

{% block content %}
<div align="center" style="padding: 0px 15px 15px 15px; margin-top: 0px;">
	<h1 class="page-header" style="font-family: Eras Bold ITC" > <b> BOARD OF TRUSTEES  </b> </h1>	
</div>

<div align="center">
	<div class="col-md-12" >
		<div class="col-md-12" style="margin-bottom: 20px" >
			
			<div class="col-md-12">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Gen. Mangigin Magomnang Ph. D. Ret.</b></h4>
					<h5>BOT Chairman</h5>
			</div>
			
		</div>

		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Eng'r Ali M. Macarambon</b></h4>
					<h5>Vice Chairman & System President</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Dr. Jamil Panambulan</b></h4>
					<h5>Vice President</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Dr. Rashal Rasul Panda, LLB</b></h4>
					<h5>Secretary</h5>
			</div>
		</div>

		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Eng'r Delion Binumbaran</b></h4>
					<h5>Treasurer</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Atty. Khaliquzzaman Macabato, CPA</b></h4>
					<h5>Auditor</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Atty. Jamaloden Basar</b></h4>
					<h5>P.I.S. Legal Counsel</h5>
			</div>
		</div>	

		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-6">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Dir. Ambog Pangandaman</b></h4>
					<h5>Honorable Member</h5>
			</div>
			
			<div class="col-md-6">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Aleem Acmad Rangiris</b></h4>
					<h5>Honorable Member</h5>
			</div>
		</div>	
	</div>
</div>
{% endblock content %}