{% extends 'base.html' %}

{% block content %}
<div class="col-md-12" align="center">
	<h1 class="page-header" id="titleTag"> <b> DEVELOPERS </b> </h1>

	<div align="center">
		<div class="col-md-12" id="block">
			<div class="col-md-12" style="margin-bottom: 20px">
				<div class="col-md-12">
					<h2><b>Rommel Asibal</b></h2>
					<h3 style="color: #4e5bba">Project Manager</h3>
				</div>
			</div>
			
			<div class="col-md-12" style="margin-bottom: 20px">
				<div class="col-md-4">
					<h3><b>Elmer V. Rasuman Jr.</b></h3>
					<h4 style="color: #4e5bba">Programmer/Designer</h4>
				</div>
				<div class="col-md-4">
					<h3><b>Zul-Qarnain A. Ronsing</b></h3>
					<h4 style="color: #4e5bba">Programmer/Designer</h4>
				</div>
				<div class="col-md-4">
					<h3><b>Jofel Bayron</b></h3>
					<h4 style="color: #4e5bba">Programmer/Designer</h4>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}