{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">

<div class="page-header" align="center" style="margin: 25px 15px 15px 15px; margin-top: 0px;">
	<h1  style="font-family: Eras Bold ITC" > <b> DEVELOPERS </b> </h1>

</div>

<div align="center">
	<div class="col-md-12" >

		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-12">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Rommel Asibal</b></h4>
					<h5>Project Manager</h5>
			</div>
			
		</div>

		
	<div class="col-md-12" >

		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-6">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Jofel Bayron</b></h4>
					<h5>Programmer/Designer</h5>
			</div>
			<div class="col-md-6">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Jerico Delfinado</b></h4>
					<h5>Programmer/Designer</h5>
			</div>
		</div>

	</div>
	<div class="col-md-12" >

		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-6">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Elmer V. Rasuman Jr.</b></h4>
					<h5>Programmer/Designer</h5>
			</div>
			<div class="col-md-6">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Zul-Qarnain A. Ronsing</b></h4>
					<h5>Programmer/Designer</h5>
			</div>
		</div>

	</div>
</div>
{% endblock content %}