{% extends 'base.html' %}

{% block content %}

<div class="col-md-12">
	<!--EXECUTIVE COMMITTEE-->
	<div align="center">
		<h1 class="page-header" id="titleTag"> <b> EXECUTIVE COMMITTEE </b> </h1><br>
		
		<div class="col-md-12" id="block">
			<div class="col-md-12" style="margin-bottom: 20px" >
				<div class="col-md-4">
					<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Fatimah Ali</b></h4>
					<h5 style="color: #4e5bba">Librarian</h4>
				</div>
				<div class="col-md-4">
					<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Esmail Atondoy</b></h4>
					<h5 style="color: #4e5bba">Arabic Coordinator</h5>
				</div>
				<div class="col-md-4">
					<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Jelly Dalman</b></h4>
					<h5 style="color: #4e5bba">Guidance Counselor</h5>
				</div>
			</div>

			<div class="col-md-12" style="margin-bottom: 20px" >
				<div class="col-md-4">
					<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Alrassel Deca</b></h4>
					<h5 style="color: #4e5bba">Cashier</h5>
				</div>
				<div class="col-md-4">
					<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Rey Esterado</b></h4>
					<h5 style="color: #4e5bba">Property Custodian</h5>
				</div>
				<div class="col-md-4">
					<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Jehan Gunting</b></h4>
					<h5 style="color: #4e5bba">Bookkeepper</h5>
				</div>
			</div>	

			<div class="col-md-12" style="margin-bottom: 20px" >
				<div class="col-md-4">
					<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Mohamerah Macalandap</b></h4>
					<h5 style="color: #4e5bba">Assistant Nurse</h5>
				</div>
				<div class="col-md-4">
					<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Raquel Macarambon</b></h4>
					<h5 style="color: #4e5bba">Nurse</h5>
				</div>
				<div class="col-md-4">
					<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Abulmalic Pacalna</b></h4>
					<h5 style="color: #4e5bba">Prefect Descipline</h5>
				</div>
			</div>

			<div class="col-md-12" style="margin-bottom: 30px" >
				<div class="col-md-4">
					<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Elmer V. Rasuman Jr.</b></h4>
					<h5 style="color: #4e5bba">I.T. Staff/Programmer</h5>
				</div>
				<div class="col-md-4">
					<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Jarien A. Sarip</b></h4>
					<h5 style="color: #4e5bba">Assistance Personnel</h5>
				</div>
				<div class="col-md-4">
					<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Aida Tulano</b></h4>
					<h5 style="color: #4e5bba">Assistant Registrar</h5>
				</div>
			</div>	
		</div>
	</div>
</div>

{% endblock content %}