{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">

<div class="page-header" align="center" style="margin: 25px 15px 15px 15px; margin-top: 0px;">
	<h1  style="font-family: Eras Bold ITC" > <b> EXECUTIVE COMMITTEE </b> </h1>

</div>

<div align="center">
	<div class="col-md-12" >

		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Fatimah Ali</b></h4>
					<h5>Librarian</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Esmail Atondoy</b></h4>
					<h5>Arabic Coordinator</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Jelly Dalman</b></h4>
					<h5>Guidance Counselor</h5>
			</div>
		</div>

		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Alrassel Deca</b></h4>
					<h5>Cashier</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Rey Esterado</b></h4>
					<h5>Property Custodian</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Jehan Gunting</b></h4>
					<h5>Bookkeepper</h5>
			</div>
		</div>	

		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Mohamerah Macalandap</b></h4>
					<h5>Assistant Nurse</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Raquel Macarambon</b></h4>
					<h5>Nurse</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Abulmalic Pacalna</b></h4>
					<h5>Prefect Descipline</h5>
			</div>
		</div>

		<div class="col-md-12" style="margin-bottom: 20px" >
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Elmer V. Rasuman Jr.</b></h4>
					<h5>I.T. Staff/Programmer</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Jarien A. Sarip</b></h4>
					<h5>Assistance Personnel</h5>
			</div>
			<div class="col-md-4">
				<img src="{{MEDIA_URL}}/employees_image/b2.jpg" width="200px" height="200px" class="img-thumbnail" >
					<h4><b>Aida Tulano</b></h4>
					<h5>Assistant Registrar</h5>
			</div>
		</div>	

	</div>
</div>

</div>
{% endblock content %}