<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
      {%block title%}{{ system_name }}{%endblock%}
    </title>

    <link rel="shortcut icon" href="{{STATIC_URL}}images/icon.png">

    <link href="/static/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/static/css/index.css" media="all" rel="stylesheet" type="text/css">
    <link href="/static/css/font-awesome-4.3.0/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Gem style -->
    <script src="/static/js/modernizr.js"></script> <!-- Modernizr -->

    {% block extra_css %}{% endblock extra_css%}
  </head>

  <body class="container-fluid">
    
    <div class="container" id="baseTemplate">
      <div class="container affix"> 
      
      <img src="/static/images/headerNew.png" width="100%" id="header">
      <img src="/static/images/line.png" width="100%" id="line">

      <div class="navbar navbar-default" role="navigation">
          
          <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% block navbar %}
              <li  class="{{home}}"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
              <li  class="{{student_hov}}"><a href="/student/"><span class="glyphicon glyphicon-user"></span> Student</a></li>
              <li class="{{rtm}}"><a href="/real_monitoring/"><span class="glyphicon glyphicon-eye-open"></span> Real Time Monitoring</a></li>
              <li class="{{contactus}}" ><a href="/contact/index"><span class="glyphicon glyphicon-earphone"></span> Contact Us</a></li>
              <li class="{{aboutus}}" id="dropdown">
                <a  data-toggle="dropdown"  href="/employee/aboutus">About us <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/employee/aboutus#philosophy">Philosophy</a></li>
                  <li><a href="/employee/aboutus#mission">Mission</a></li>
                  <li><a href="/employee/aboutus#vision">Vision</a></li>
                  <li><a href="/employee/aboutus#objectives">Objectives</a></li>
                  <li><a href="/employee/aboutus#rregulations">Rules & Regulations</a></li>
                  <li><a href="/employee/aboutus#bot">Board of Trustees</a></li>
                  <li><a href="/employee/aboutus#sadminstrative">Administrative Officials</a></li>
                  <li><a href="/employee/aboutus#consultant">Consultant</a></li>
                  <li><a href="/employee/aboutus#executive">Executive Committee</a></li>
                  <li><a href="/employee/aboutus#developers">Developers</a></li>
                </ul>
              </li>
              {% endblock navbar %}
            </ul>
          </div>
        </div><!--navbar inverse-->
      </div><!--container affix-->

      {% block content %}{% endblock content %}

    <a href="#0" class="cd-top">Top</a>
    {% block footer %}
      <footer class="col-md-12">
        <a class="btn btn-link" href="#">&copy; Philippine Integrated School Foundation Inc.</a>

        <a class="btn btn-link" href="#">All Rights Reserved 2015</a>
        <a class="btn btn-link" href="/employee/aboutus#developers">Developers</a>
        <a class="btn btn-link" href="/contact/index">Contact Us</a>
        
      </footer>
    {% endblock footer%}

  </div><!--container-->
      

  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/pis_website.js"></script> 
  <script type="text/javascript" src="/static/components/angular/angular.min.js"></script>
 
  <script type="text/javascript" src="/static/angular-app/app.js"></script>
  <script src="/static/angular-app/services/events_svc.js"></script>
  <script src="/static/angular-app/controllers/events_ctrl.js"></script>
  <script src="/static/js/main.js"></script>
  {% block extra_js %}{% endblock extra_js %}
    
  </body>
<html>
